.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333; /* Background color for the loading screen */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it's above other content */
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db; /* Loader colors */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Loader animation */
}

.loading-title h1{
  color: #fff; /* Title text color */
  font-size: 120px; /* Title font size */
  border-radius: 0%;
  margin-bottom: 0%;
}
.loading-title h3{
  color: #fff; /* Title text color */
  font-size: 45px; /* Title font size */
  margin-bottom: 20px;
  margin-top: 0%;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Your content styles */
/* Add your content styles here and adjust the z-index to make sure it's below the loading screen */
body {
  background-color: #333; /* Background color for your content */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  z-index: 1; /* Make sure it's below the loading screen */
  color: #f0f0f0;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.config{
  position: fixed;
  top: 50%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
}

.table-container {
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}
th:hover {
  cursor: pointer; /* Change the cursor style on hover */
  background-color: #f2f2f2; /* Change the background color on hover */
}