.errors-table {
    width: 40%;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.25);
  }
  
  .errors-table h2 {
    margin-bottom: 10px;
    color: #333; /* Change the color to your preference */
  }
  
  .errors-table table {
    width: 30%; /* Adjust the width as needed */
    border-collapse: collapse;
    border-color: #f2f2f2;
  }
  
  .errors-table th, .notifications-table td {
    border: 1px solid #ddd;
    padding: 4px; /* Reduce padding to make cells shorter */
    text-align: left;
    color: #333; /* Change the color to your preference */
    max-width: 100px; /* Adjust the maximum width of cells as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .errors-table th {
    background-color: #f2f2f2;
    color: black;
  }
  
  .errors-table th:hover {
    background-color: cadetblue;
  }